<!doctype html>
<html lang='en'>
<head>
	<link rel='stylesheet' href='https://tbimedia.s3.us-east-1.amazonaws.com/bistudios/_00/dev_edit/graphics/tools/fonts.css'>
	<link rel='stylesheet' href='styles/base.scss'>
  <link rel="stylesheet" href="styles/graphic.scss">
	<script type="text/javascript" src="https://pym.nprapps.org/pym.v1.min.js"></script>
  
  {{> base/meta}}
</head>
  <body>
    <!-- Content from the page goes here -->
    {{{body}}}
  </body>
  <script type="text/javascript" src="scripts/graphic.js"></script>
</html>