.theme-reversed .navigation__logo {
	background-image: url('./client/logo/logo-engie-white.svg');
}

.theme-reversed .navigation__link {
	color: var(--primary-color-tint);
}

.theme-reversed .navigation__link.selected {
	color: #fff;
}

.theme-reversed .toggle .toggle__label,
.theme-reversed .toggle.selected .toggle__label {
	color: var(--primary-color-tint);
}

.theme-reversed .down__arrow {
	background-image: url('./images/down_arrow_white.svg');
}
